@import "../main.scss";

.courses {
    max-width: 94.4rem;
    margin: 0 auto;
    padding: 3.2rem 0;

    .inputContainer {
        width: 100%;
        margin: 0 auto;
    }

    ul {
        display: grid;
        grid-gap: 6rem;
        grid-template-columns: repeat(auto-fill, 27.4rem);
        justify-content: center;
        margin: 3.2rem auto 0;

        li {
            list-style: none;
        }
    }
}
