@import "../main.scss";

.createAd {
    padding: 3.2rem 0;

    h1 {
        font-weight: 700;
        font-size: 3.5rem;
    }

    &__form {
        display: flex;
        flex-wrap: wrap;
        margin-top: 1.6rem;
    }

    &__subForm {
        width: 46.8rem;
    }

    &__priceSubForm {
        width: 20rem;
    }
}
