@import "../main.scss";

.editProfile {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    align-items: center;

    form {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        width: 100%;
    }

    &__contacts {
        display: flex;
        gap: 0.8rem;
    }
}
