@import "../main.scss";

.elementToSelect {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 0.8rem;

    &__title {
        font-weight: 500;
        font-size: 1.8rem;
    }

    &__subtitle {
        font-weight: 400;
        font-size: 1.6rem;
    }
}
